.App {
  text-align: center;
}

/* to format the products in a grid like fashion */
.products{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12lh;

}

/* to format the images to fit better to the screen */
.products img{
  width: 100%;
  height: 75%;
}

/* to format the buttons make them larger and the text larger */
button {
  font-size: 20px;
  padding: 10px
}

/* Styling for the nav bar links */
.larger-navbar .navbar-nav .nav-link {
  padding: 20px 25px; /* Increase padding */
  font-size: 20px; /* Adjust font size as needed */
  color: white; /* Make text color white */
  font-weight: 500; /* Make text kinda semi bold */
  
}

/* styling for the navbar "icon" which says THE CAMP STORE */
.larger-navbar .navbar-brand {
  padding: 20px 25px; /* Increase padding */
  font-size: 24px; /* Adjust font size as needed */
  color: white; /* Make text color white */
  font-weight: bold; /* Make text bold */
}

