/* .App {
  text-align: center;
} */

/* to format the products in a grid like fashion */
.products{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 30px;
  width: 85%; /* Set width to 80% of the screen */
  margin: 0 auto; /* Center the grid horizontally */
}

.product-card ,.cart-card {
  border: 4px solid #ccc; /* Add a border around the card */
  padding-top: 20px; /* Add padding inside the card */
  padding-bottom: 1.75px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1); /* Optional: Add a subtle shadow for depth */
  border-radius: 15px; /* Optional: Add rounded corners */
}

/* to format the images to fit better to the screen */
.products img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  padding: 25px 25px;

}

/* to format the buttons make them larger and the text larger */
button {
  font-size: 25px;
}

/* Styling for the nav bar links */
.larger-navbar .navbar-nav .nav-link {
  padding: 20px 25px; /* Increase padding */
  font-size: 20px; /* Adjust font size as needed */
  color: white; /* Make text color white */
  font-weight: 500; /* Make text kinda semi bold */
  
}

/* styling for the navbar "icon" which says THE CAMP STORE */
.larger-navbar .navbar-brand {
  padding: 20px 25px; /* Increase padding */
  font-size: 24px; /* Adjust font size as needed */
  color: white; /* Make text color white */
  font-weight: bold; /* Make text bold */
}
.typing-animation-text{
  text-align:left !important;
  padding: 10px 100px !important;
  font-size: 40px;
  font-weight: bold;
  color: yellow;
}

.page-heading{
  text-align:left;
  color:white;
  font-weight: bold;
  padding: 50px 100px;
  font-size: 50px;
  text-shadow: 2px 2px 4px #888888; /* Slight gray shadow */
}

.product-cart-page-heading{
  color:black;
  text-align: center;
  font-weight: bold;
  padding: 50px 100px;
  font-size: 50px;
  text-shadow: 2px 2px 4px #888888; /* Slight gray shadow */
}

.product-name{
  color:black;
  text-align: center;
  font-weight: normal;
  padding-top: 60px;
  font-size: 30px;
  text-shadow: 1px 1px 2px #888888; /* Slight gray shadow */
}

.product-cost{
  color:black;
  text-align: center;
  font-weight: normal;
  padding: 10px 10px;
  font-size: 30px;
  text-shadow: 1px 1px 2px #888888; /* Slight gray shadow */
}



.cart-cost{
  color:black;
  text-align: left;
  font-weight: bold;
  padding: 10px 10px;
  font-size: 45px;
}

.cart-description-text{
  text-align:center;
  color:black;
  font-weight:normal;
  padding: 20px 100px;
  font-size: 20px;
}


.description-text{
  text-align:left;
  color:white;
  font-weight:normal;
  padding: 10px 100px;
  font-size: 20px;
  max-width: 1000px;
}


.clear-cart {
  cursor: pointer;
  background: linear-gradient(180deg, #fff, #ffcc91);
  border: 2px solid #d38558;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
  border-radius: 10px;
  height: 40px;
  margin: 20px 0;
  padding: 0 40px;
}

.clear-cart:hover {
  background: linear-gradient(180deg, #fff, #ec840d);
  border: 2px solid #b3744f;
}


.remove-from-cart {
  cursor: pointer;
  background: linear-gradient(180deg, #fff, #ffcc91);
  border: 2px solid #d38558;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
  border-radius: 10px;
  height: 60px;
  margin: 20px 0;
  padding: 0 40px;
  width: 99.5%;
  margin-top: auto;

  margin-bottom: 0;
}

.remove-from-cart:hover {
  background: linear-gradient(180deg, #fff, #ec840d);
  border: 2px solid #b3744f;
}


.add-cart-button {
  cursor: pointer;
  background: linear-gradient(180deg, #fff, #ffcc91);
  border: 2px solid #d38558;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
  border-radius: 10px;
  height: 60px;
  margin: 20px 0;
  padding: 0 40px;
  width: 99.5%;
  margin-top: auto;

  margin-bottom: 0;
}

.add-cart-button:hover {
  background: linear-gradient(180deg, #fff, #ec840d);
  border: 2px solid #b3744f;
}

.minus-button {
  cursor: pointer;
  background: linear-gradient(180deg, #fff, #ffcc91);
  border: 2px solid #d38558;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
  border-radius: 10px;
  height: 40px;
  margin: 20px 0;
  padding: 0 40px;
}

.minus-button:hover {
  background: linear-gradient(180deg, #fff, #ec840d);
  border: 2px solid #b3744f;
}

.plus-button {
  cursor: pointer;
  background: linear-gradient(180deg, #fff, #ffcc91);
  border: 2px solid #d38558;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
  border-radius: 10px;
  height: 40px;
  margin: 20px 0;
  padding: 0 40px;
}

.plus-button:hover {
  background: linear-gradient(180deg, #fff, #ec840d);
  border: 2px solid #b3744f;
}